* {
    -fx-text-fill: #f0f0f0;
    -fx-button-background: #03567e;
    -fx-button-background-hover: #10638c;
    -fx-button-background-pressed: #2f7596;
    -fx-main-background: #2b2b2b;
    -fx-selected-background: #616161;
}

/*******************************************************************************
 *                                                                             *
 * Pane Style Tag                                                              *
 *                                                                             *
 ******************************************************************************/
.theme-back {
    -fx-background-color: -fx-main-background;
}

/*******************************************************************************
 *                                                                             *
 * Buttons                                                                     *
 *                                                                             *
 ******************************************************************************/
.button {
    -fx-background-color: -fx-button-background;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

.button:hover {
    -fx-background-color: -fx-button-background-hover;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

.button:pressed {
    -fx-background-color: -fx-button-background-pressed;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

/*******************************************************************************
 *                                                                             *
 * Sweep Grid                                                                  *
 *                                                                             *
 ******************************************************************************/
.sweep-grid {
    -fx-background-color: #156d8d;
    -fx-background-radius: 3px;
}

.sweep-grid:hover {
    -fx-background-color: #4396b4;
    -fx-background-radius: 3px;
}

.selected-sweep-grid {
    -fx-background-color: -fx-selected-background;
    -fx-background-radius: 3px;
}

.exploded-sweep-grid {
    -fx-background-color: #8d1515;
    -fx-background-radius: 3px;
}

/*******************************************************************************
 *                                                                             *
 * Achievement Button                                                          *
 *                                                                             *
 ******************************************************************************/
.achievement-pane {
    -fx-background-color: #243d53;
}

.achievement-pane:hover {
    -fx-background-color: #0274b3;
}

/*******************************************************************************
 *                                                                             *
 * Achievement Model                                                           *
 *                                                                             *
 ******************************************************************************/
.achievement-model {
    -fx-background-color: #525252;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
}

.achievement-model:hover {
    -fx-background-color: #262626;
}

/*******************************************************************************
 *                                                                             *
 * Achievement Model Gold                                                      *
 *                                                                             *
 ******************************************************************************/
.achievement-model-gold {
    -fx-background-color: #525252;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: #ffb700;
}

.achievement-model-gold:hover {
    -fx-background-color: #262626;
}

/*******************************************************************************
 *                                                                             *
 * Achievement Popup                                                           *
 *                                                                             *
 ******************************************************************************/
.achievement-popup {
    -fx-background-color: #2c9218;
    -fx-background-radius: 5px;
}
